body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.remove-icon{
  color:red;
  padding:2px;
  text-decoration: none
}
.task-completed{
  text-decoration: line-through
}
.category{
  width:30%;
  float:left;
  border:1px lightgray dashed;
  height:80vh;
  padding:5px
}
.task-list {
  padding:0;
  margin:0;
  list-style-type:none;
}
.task-list > li{
border:1px solid wheat;
padding:5px
}
.task-title{
  background-color:gainsboro;

}
.pull-right{
  float:right
}